body {
  text-align: center;
}

.auth-container{
  background: white;
  height: 100vh;
  display: flex;
}

.auth-form {
  background: white;
  width: 30%;
  border: 5px solid black;
  margin: auto;
}

#subject-card {
  border: 2px solid black;
  width: 30vw;
  height: 15vw;
  margin: 0 auto;

}

#subject-container {
  margin-top: 3vh;
  /* height: auto; */
  /* border: 2px solid orange; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 3vh;
}

button {
  color: black;
  width: 50px;
  border-radius: 3px;
  margin: 3px;
}


a {
text-decoration: none;
}

#card-container {
  margin-top: 3vh;
  /* height: auto; */
  /* border: 2px solid orange; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 3vh;
}

#card {
  border: 2px solid black;
  width: 30vw;
  height: 15vw;
  margin: 0 auto;
}

header {
  border: 2px solid black;
  display: flex;
}

#add-subject-form {
  border: 2px solid blue;
  margin-top: 2vh;
}

#logout {
  width: 2vw;
  height: 5vh;
  /* border: none; */
}